{% load staticfiles %}
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "style.css"%}">
</head>

<body>
    <div class="wrapper block-center">
        <div class="wrapper-header">
            {% block header %}{% endblock %}
        </div>

        <ul class="wrapper-menu">
            {% block menu %}{% endblock %}
        </ul>

        <div class="wrapper-content">
            {% block content %}{% endblock %}
        </div>

        <div class="wrapper-footer clearfix">
            {% block footer %}{% endblock %}
        </div>
    </div>
</body>

</html>
