<div class="wrapper-header-register">
    {% if request.user.is_authenticated %}
        Hi, {{ request.user.first_name|capfirst }} {{ request.user.last_name|capfirst}} !
    <a href="{% url "logout_url" %}">
        log out
    </a>
    {% else %}
    <a href="/site/sign_up/">
        sign up
    </a>
    {% endif %}
</div>
<div class="wrapper-header-title">
    your site.com
</div>
