{% load static %}
<div class="slider">
      <div><img src="{% get_media_prefix %}1.jpg" /></div>
      <div><img src="{% get_media_prefix %}2.jpg" /></div>
      <div><img src="{% get_media_prefix %}3.jpg" /></div>
      <div><img src="{% get_media_prefix %}4.jpg" /></div>
      <div><img src="{% get_media_prefix %}5.jpg" /></div>
</div>
<h2>Welcome</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
  sed do eiusmod tempor inciiunt ut labore et dolore magna aliqua.
  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
  nisi ut aliquip ex ea commodo comsequat. Duis aute irure dolor in
  reprehenderit in voluptate velit esse cillum colore eu fugiat nulla
  pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
  culpa qui officia deserunt mollit anim id est laborum.</p>
<h2>Lorem ipsum</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
  sed do eiusmod tempor inciiunt ut labore et dolore magna aliqua.
  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
  nisi ut aliquip ex ea commodo comsequat. Duis aute irure dolor in
  reprehenderit in voluptate velit esse cillum colore eu fugiat nulla
  pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
  culpa qui officia deserunt mollit anim id est laborum.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
  sed do eiusmod tempor inciiunt ut labore et dolore magna aliqua.
  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
  nisi ut aliquip ex ea commodo comsequat. Duis aute irure dolor in
  reprehenderit in voluptate velit esse cillum colore eu fugiat nulla
  pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
  culpa qui officia deserunt mollit anim id est laborum.</p>
