{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    {% block html_header %}{% endblock %}
</head>

<body>
<div class="page__wrapper">
    <div class="layout">
        <div class="layout__inner">
            <div class="content">
                <div class="content__title">
                    <h1>
                        {% block header %}{% endblock %}
                    </h1>
                    <div id="user_hello">
                        {% if user.is_authenticated %}
                            Привет, <a href="{% url 'personal' %}">
                            {% if not user.first_name and not user.last_name %}
                            {{ user.username }}</a>
                            {% else %}
                               {{ user.first_name|title }} {{ user.last_name|title }}
                            {% endif %}
                            </a>
                            {% if user.editor %}
                            <br><a href="{% url 'editor:personal' %}">Кабинет редактора</a> <!-- изменила edit на editor -->
                            {% endif %}
                            <div id="logout">
                                <a href=
                                    {% if next_for_logout %}
                                        "/logout?next=/"
                                    {% else %}
                                        "/logout?next={{ request.path }}"
                                    {% endif %}
                                >Выход</a>
                            </div>
                        {% else %}
                            <a href="/login?next={{ request.path }}">Залогиниться</a>
                            <a href="{% url 'registration' %}">Зарегистрироваться</a>
                        {% endif  %}
                    </div>
                    </div>
                </div>
                <div class="header">
                    <ul class="menu">
                        <li>
                            <a href="{% url 'index' %}">HOME</a>
                        </li>
                        <li>
                            <a href="{% url 'about' %}">ABOUT US</a>
                        </li>
                        <li>
                            <a href="{% url 'news' %}">NEWS</a>
                        </li>
                        <li>
                            <a href="#">CONTACT US</a>
                        </li>
                        <li>
                            <a href="#">LINKS</a>
                        </li>
                        <li>
                            <a href="{% url 'jquery_tasks' %}">JQUERY</a>
                        </li>
                    </ul>
                </div>
                <div class="content__body">
                    {% block content__body %}{% endblock %}
                </div>
                <div class="footer">
                    <!-- {% now "j F Y H:i" %}  --> <!--Вывод текущей даты и время-->
                    Copyright 	&#169; 2005 | All Rights Reserved
                </div>
            </div>
        </div>
    </div>
</div>
{% block scripts %}{% endblock %}
</body>

</html>
