{% extends 'index_base.html' %}
{% load staticfiles %}

{% block title %}
    {% include 'header_content.html' %}
{% endblock %}

{% block html_header %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick-theme.css' %}"/>
{% endblock %}

{% block header %}
    {% include 'header_content.html' %}
{% endblock %}

{% block content__body %}
    {% include 'index_content__body.html' %}
{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{% static 'scripts/slick.min.js' %}"></script>
    <script src="{% static 'scripts/slider.js' %}"></script>
{% endblock %}
