<div class="jquery-task">
  <table>
    <tr>
      <th>
        <button id="button-red" class="buttons-color"></button>
      </th>
      <th rowspan="3">
        <div id="block-color-change"></div>
      </th>
    </tr>
    <tr>
      <th>
        <button id="button-yellow" class="buttons-color"></button>
      </th>
    </tr>
    <tr>
      <th>
        <button id="button-green" class="buttons-color"></button>
      </th>
    <tr>
  </table>
</div>

<div class="jquery-task">
    <p>Калькулятор</p>
    <div class="field"><input type="text" name="field1"></div>
    <div class="field"><input type="text" name="field2"></div>
    <button class="operation">+</button>
    <button class="operation">-</button>
    <button class="operation">/</button>
    <button class="operation">*</button>
    <div class="field"><input type="text" name="result"></div>
</div>
