{% extends 'index_base.html' %}
{% load staticfiles %}

{% block title %}
    Задачи на jquery
{% endblock %}

{% block header %}
    {% include 'header_content.html' %}
{% endblock %}

{% block content__body %}
    {% include 'jquery_tasks__content__body.html' %}
{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{% static 'scripts/jquery_tasks.js' %}"></script>
{% endblock %}
