<div class="categories">
    <div class="category"><a href="{% url 'news_by_viewed' %}">10 лучших (по числу просмотров)</a></div>
    <div class="category"><a href="{% url 'news_by_latest' %}">10 новых (по дате публикации)</a></div>
    <div class="category"><a href="{% url 'news_by_comments' %}">10 самых обсуждаемых (с наибольшим количеством комментариев)</a></div>
</div>
<div class="news">
    <table>
        <tbody>
            {% for news_item in news_items %}
                <tr class="{% cycle 'news_parity' 'news_not_parity' %}">
                    <td>
                        <a href="{% url 'news_item' news_item.slug %}">{{news_item.name|upper}}</a>
                    </td>
                    <td>
                        Количество просмотров: {{news_item.viewed}}
                    </td>
                    <td>
                        Дата публикации:<br>{{news_item.created|date:"d M Y"}}
                    </td>
                    <td>
                        Количество комментариев:<br>{{news_item.comment_count}}
                    </td>
                    <td>
                        {{news_item.text_short}}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
