{% extends "base.html" %}

{% block header %}
    {% include "header.html" %}
{% endblock header %}

{% block menu %}
<li><a href="/site/">home</a></li>
<li><a href="#">about us</a></li>
<li><a href="/site/news/">news</a></li>
<li><a href="#">contact us</a></li>
<li><a href="#">links</a></li>
<li><a href="/site/profile/">registration</a></li>
{% endblock menu %}

{% block content %}
{% endblock content %}

{% block footer %}
    {% include "footer.html" %}
{% endblock footer %}
