<div class="personal">
    {% if request.user.is_authenticated %}
        <ul>
            <li>Время с момента регистрации: {{ time_from_registration }}</li>
            <li>Количество созданных новостей: 
                {% if news_count %}
                    {{ news_count }}
                {% else %}
                    У вас отсутсвуют новости.
                {% endif %}
            </li>
        {% if comments_count %}
            <li>Количество созданных комментариев: {{ comments_count}}</li>
            <li>Количество комментариев в день: {{ comment_count_day|stringformat:"0.2f" }}</li>
        {% else %}
            У вас отсутсвуют комментарии.
        {% endif %}
            <li>Ссылки на все созданные пользователем новости: 
                <ul>
                    {% for news in news_list %}
                        <li>
                            <a href="{{ news.get_absolute_url }}">{{ news.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    {% endif %}
</div>
