<form method="POST" id="post-form" class="registration-form">
    {% csrf_token %}
    {{ form.name.label_tag}}
    <p><input class="form-required" type="text" name="{{ form.name.name }}" value="{{ form.name.value|default_if_none:'' }}"></p>
    {{ form.name.errors }}
    {{ form.phone.label_tag }}
    <p><input type="text" name="{{ form.phone.name }}" value="{{ form.phone.value|default_if_none:'' }}"></p>
    {{ form.phone.errors }}
    {{ form.email.label_tag }}
    <p><input id="form-email" type="text" name="{{ form.email.name }}" value="{{ form.email.value|default_if_none:'' }}"></p>
    {{ form.email.errors }}
    {{ form.password.label_tag }}
    <p><input class="form-required" type="password" name="{{ form.password.name }}" value="{{ form.password.value|default_if_none:'' }}"></p>
    {{ form.password.errors }}
    <button type="submit">Сохранить</button>
</form>
