{% load staticfiles %}
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "style.css"%}">

</head>

<body>
    <div class="wrapper block-center">
        <div class="wrapper-header">
            <div class="wrapper-header-title">
                your site.com
            </div>
        </div>

        <ul class="wrapper-menu">
            <li><a href="/site/">home</a></li>
            <li><a href="#">about us</a></li>
            <li><a href="/site/news/">news</a></li>
            <li><a href="#">contact us</a></li>
            <li><a href="#">links</a></li>
        </ul>

        <div class="wrapper-content">
            <h2>Information about you</h2>
            <p>
                <form method="POST" action="/site/register/user/">{% csrf_token %}
                    <input type="text" name="{{ form.username.name }}" placeholder="Имя" value="{{ form.username.value|default_if_none:'' }}">
                    {{ username_errors|default_if_none:''}} <br>

                    <input type="password" name="{{ form.password.name }}" placeholder="Пароль" value="{{ form.password.value|default_if_none:'' }}">
                    {{ password_errors|default_if_none:''}} <br>

                    <input type="text" name="{{ form.phone_number.name }}" placeholder="Телефон" value="{{ form.phone_number.value|default_if_none:'' }}">
                    {{ phone_number_errors|default_if_none:''}} <br>

                    <input type="text" name="{{ form.email.name }}" placeholder="E-mail" value="{{ form.email.value|default_if_none:''}}">
                    {{ email_errors|default_if_none:''}} <br>

                    <input type="submit" value="Зарегистрироваться">
                </form>
            </p>
        </div>

        <div class="wrapper-footer">
            Copyright &copy; 2005 | All Rights Reserved
        </div>
    </div>
</body>

</html>
