html, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: #313131;
}

.wrapper {
    width: 640px;
    margin-top: 30px;
}

.wrapper-header {
    position: relative;
    background-image: url("header.jpg");
    height:250px;
}

.header-news-title {
    position: absolute;
    top: 10px;
    left: 10px;

    font-family: sans-serif;
    font-size: 12px;
    color: #fff;
    text-shadow: 1px 1px #333;
}


.wrapper-header-register {
    position: absolute;
    top: 10px;
    right: 20px;
}

.wrapper-header-register a {
    letter-spacing: 1.2;
    text-transform: uppercase;
    color: #333;
}

.wrapper-header-title {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 8px;
    margin-bottom: 6px;

    color: #eef5f5;
    font-size: 30px;

    text-transform: uppercase;
    text-shadow: 1px 1px 1px #000;
}

.wrapper-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.wrapper-menu li {
    display: inline-block;
    vertical-align: top;
}

.wrapper-menu li:last-child  {
    padding-right: 0;
}

.wrapper-menu li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #888;
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;

    height: 40px;
    line-height: 40px;
    padding: 0 10px;
}

.active-menu {
    background-color: #444;
}

.wrapper-menu li:hover a {
    background-color: #ccc;
}

.wrapper-content {
    padding: 10px 20px 10px 25px;

    background-color: #f3f3f3;
    color: #86758d;
    font-size: 12px;
}

.wrapper-content h1 {
    margin: 0;
    padding: 0;

    color: #5555aa;
    font-size: 25px;
    font-weight: bold;
}

.wrapper-content h2 {
    margin: 0;
    padding: 0;

    color: #667418;
    font-size: 25px;
    font-weight: lighter;
}

.wrapper-content h2 a {
    color: #667418;
    text-decoration: none;
}

.wrapper-content p {
    margin-top: 5px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.content-item {
    margin-top: 20px;
}

.background-white {
    background: #fdfdfd;
}

.background-grey {
    background: #dfdfdf;
}

.wrapper-content p {
    margin-bottom: 0;
}

.wrapper-footer {
    color: #888;
    font-family: Times;
    font-size: 10px;
    padding: 10px 0 10px 10px;
    height: 40px;
}

.footer-copyright {
    float: left;
}

.footer-current-datetime {
    float: left;
    margin-left: 20px;
}

.footer-news-title {
    text-align: right;
}

.wrapper-content__about {
    text-align: right;
}

.wrapper-content__comments {
    margin: 0 solid #333;
    margin-top: 1px;
}

.wrapper-content__comments::before {
    display: block;
    border-bottom: 1px solid #777;
    margin-bottom: 10px;

    font-size: 14px;
    content: "Комментарии";
}

.news-comment {
    margin-top: 20px;
}

.comment {
    padding-left: 30px;
    margin-bottom: 10px;
}

.comment:last-child {
    margin-bottom: 0;
}

.block-center {
    margin: 0 auto;
}

.tops {
    background-color: #f3f3f3;
    padding: 10px 20px 10px 25px;
}

.top-the-best {
    width: 33%;
    float: left;
}

.top-the-newest {
    width: 33%;
    float: left;
}

.top-the-best {
    width: 33%;
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
