<form method="POST" novalidate>
    {% csrf_token %}
    {{ form.name.label_tag }}
    <p><input type="text" required name="{{ form.name.name }}" value="{{ form.name.value|default_if_none:'' }}"></p>
    {{ form.name.errors }}
    {{ form.text.label_tag }}
    {{ form.text }}
    {{ form.text.errors }}
    <button type="submit">Сохранить</button>
</form>
