<div class="personal">
    {% if request.user.is_authenticated %}
        <a href="{% url 'editor:add_news' %}">Добавить новость</a> <!-- изменила edit на editor -->
        <p>Cсылки на все созданные редактором новости:</p>
        <ul>
            {% for news in news_list %}
                <li>
                    <a href="{{ news.get_absolute_url }}">{{ news.name }}</a> =&gt; <a class="a-color" href="{% url 'editor:add_news' news.id %}">Редактировать</a> <!-- изменила edit на editor -->
                </li>
            {% endfor %}
        </ul>
        <div class="pagination">
            <span class="step-links">
                {% if news_list.has_previous %}
                    <a href="?page={{ contacts.previous_page_number }}">&lt;</a>
                {% endif %}

                <span class="current">
                    Страница {{ news_list.number }} из {{ news_list.paginator.num_pages }}.
                </span>

                {% if news_list.has_next %}
                    <a href="?page={{ news_list.next_page_number }}">&gt;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
</div>
